<div class="row">
  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary">
        <strong>Order Number: #{{order.id}}</strong>
      </li>
      <li class="list-group-item">
        <table class="table">
          <tr>
            <th scope="row">Order Date</th>
            <td>{{Date order.createdAt}}</td>
          </tr>
          <tr>
            <th scope="row">Shipping Status</th>
            <td>
              <select class="form-control">
                <option>Not Shipped</option>
                <option>Shipping</option>
                <option>Arrived</option>
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row">Shipping Date</th>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Payment Status</th>
            <td>
              <select class="form-control">
                <option>Not paid</option>
                <option>Paid</option>
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row">Payment Method</th>
            <td></td>
          </tr>
        </table>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary">
        <strong>Shipping Information</strong>
      </li>
      <li class="list-group-item">
        <table class="table">
          <tr>
            <th scope="row">Name</th>
            <td>{{order.name}}</td>
          </tr>
          <tr>
            <th scope="row">Phone</th>
            <td>{{order.phone}}</td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>{{order.address}}</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary">
        <strong>Order Details</strong>
      </li>
      <li class="list-group-item">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          {{#each items}}
          <tr>
            <td scope="row">{{this.name}}</td>
            <td>{{this.quantity}}</td>
            <td>${{this.price}}</td>
          </tr>
          {{/each}}
          <tr>
            <td scope="row">Total</td>
            <td>{{totalQty}}</td>
            <td>${{totalPrice}}</td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</div>

<center>
  <form action="/order/{{order.id}}/cancel" method="POST">
    <button type="submit" class="btn btn-secondary checkOut-btn">Update</button>
  </form>
</center>