<div class="container">
  {{> alert}}

  <div class="new-product">
  {{#if newProduct}}
  <h2 class="title">Add New Product</h2>
  <form action="/admin/products/new" method="POST" enctype="multipart/form-data">
  {{else}}
  <h2 class="title">Edit Product</h2>
  <form action="/admin/products/{{product.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  {{/if}}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{product.name}}" placeholder="Product name">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" name="CategoryId">
        {{#each categories}}
        <option value="{{this.id}}" {{#ifEquals this.id ../product.CategoryId }}selected{{/ifEquals}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      {{#if newProduct}}
      <img id="image" src="{{product.image}}" style="width: 300px;">
      {{else}}
      <img id="image" src="{{product.image}}" class="admin-product-card">
      {{/if}}
      <div class="picture">
        <label for="file">Upload Picture</label>
        <input id="file" type="file" accept="image/*" class="form-control-file" name="image" value="{{product.image}}">
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="6" id="description" name="description" placeholder="Add product description">{{product.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" value="{{product.price}}" placeholder="Price">
    </div>
    <center>
      <a href="/admin/products" type="button" class="btn btn-secondary custom-btn beside-btn">Cancel</a>
      <button type="submit" class="btn btn-secondary custom-btn beside-btn">Submit</button>
    </center>
  </form>
  </div>
</div>

<script src="/image.js"></script>