<div class="modal right fade" id="cartModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">Cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {{#each items}}
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-7">
            <img class="card-img-top" src="{{this.image}}" alt="cartItem photo">
            
          </div>
          <div class="col-5">
            <h6>{{this.name}}</h6>
            <p>${{this.price}}</p>
            <div class="add-min-button horizontal-left">
              <form action="/cartItem/{{this.cartItemId}}/min" method="POST" class="inline-block">
                <input type="submit" id="min" type="button" value="-" >
              </form>
              <input id="num" name="num" value="{{this.quantity}}" readonly="true" class="inline-block">
              <form action="/cartItem/{{this.cartItemId}}/add" method="POST" class="inline-block">
                <input type="submit" id="add" type="button" value="+">
              </form>
            </div>
            <div class="trash">
              <form action="/cartItem?_method=DELETE" method="POST">
                <input type="hidden" name="cartItemId" value="{{this.cartItemId}}">
                <button type="submit" class="btn"><i class="fas fa-trash-alt fa-lg"></i></button>
              </form>
            </div>  
          </div>
        </div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <div class="div-subtotal">
          <h6 class="inline">Subtotal: </h6>
          <p class="inline">${{totalPrice}}</p>
        </div>
        <form action="/cart" method="GET">
          <button type="submit" class="btn btn-primary">check out</button>
        </form>
      </div>
    </div>
  </div>
</div>
	