<div class="container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-secondary">Check Order</li>
    <li class="list-group-item">
      <table class="table table-responsive-sm">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr>
            <td scope="row">
              <a href="/product/{{this.id}}"><img class="cart-photo" src="{{this.image}}" alt="cartItem_photo"></a>
            </td>
            <td>
              <a href="/product/{{this.id}}" style="text-decoration: none;" class="a-custom">{{this.name}}</a>
            </td>
            <td>
              $<span>{{this.price}}</span>
            </td>
            <td>
               
              <input type="hidden" name="productId" value="{{this.id}}">
              <button onclick="cart(this)" class="cart-btn" value="minus"><i class="fas fa-minus icon"></i></button>
              <input id="right-num" name="num" value="{{this.quantity}}" readonly="true" class="cart">
              <button onclick="cart(this)" class="cart-btn" value="plus"><i class="fas fa-plus icon"></i></button>
            
            </td>
            <td>
              $<span>{{this.subtotalPrice}}</span></td>
            <td>
              <div class="trash">
                <form action="/cartItem?_method=DELETE" method="POST">
                  <input type="hidden" name="cartItemId" value="{{this.cartItemId}}">
                  <button type="submit" class="btn trash-cart"><i class="fas fa-trash-alt fa-lg"></i></button>
                </form>
              </div>
            </td>
          </tr>
          {{/each}}
          <input type="hidden" id="cartId" value="{{cartId}}">
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Total</th>
            <th scope="col" id="totalQty">{{totalQty}}</th>
            <th scope="col" id="totalPrice">$<span>{{totalPrice}}</span></th>
            <th scope="col"></th>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>

  <center>
    {{#if noItems}}
    <a type="button" class="btn btn-secondary custom-btn beside-btn" href="/product">Keep Shopping</a>
    {{else}}
    <a type="button" class="btn btn-secondary custom-btn beside-btn" href="/cart/check">Next</a>
    {{/if}}
  </center>

  <!-- cart modal at right side -->
  {{> rightCart}}
</div>

<script src="/ajax.js"></script>