{{> alert}}

<div class="row">
{{#each FavoritedProducts}}
  <div class="card products-page">
    <a href="/product/{{this.id}}" class="a-custom" style="text-decoration:none;">
      <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
      <div class="card-body favorite-card">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">${{this.price}}</p>
      </div>
      <div class="card-footer">
        <form action="/cart/{{this.id}}" method="POST" class="cart">
        <input type="hidden" name="num" value="1">
          <input type="hidden" name="productId" value="{{this.id}}">
          <button type="submit" class="btn btn-secondary">Add To Cart</button>
        </form>
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" class="cart">
          <button type="submit" class="btn btn-secondary">
            <i class="fas fa-times"></i> 
          </button>
        </form>
      </div>
    </a>
  </div>
{{/each}}
</div>

<nav aria-label="Page navigation" class="nav-page">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {{#each page}}
    <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
    {{/each}}
    <li class="page-item">
      <a class="page-link" href="?page={{post}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
	
<!-- cart modal at right side -->
{{> rightCart}}
	