<table class="table">
  <thead>
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Order Date</th>
      <th scope="col">Shipping Status</th>
      <th scope="col">Payment Method</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row">{{this.dataValues.id}}</th>
      <td>{{this.dataValues.createdAt}}</td>
      <td>{{this.dataValues.shipping_status}}</td>
      <td>{{this.dataValues.Payments.payment_method}}</td>
      <td>
        <form action="?_method=DELETE" method="POST">
          <input type="hidden" name="orderId" value="{{this.dataValues.id}}">
          <button type="submit" class="btn btn-secondary">Cancel</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>