<div class="container">
  {{> alert}}

  <div class="wrapper">
    <section>
      <div class="product-photo">
        <img src="{{product.image}}" alt="product photo" class="photo">
      </div>
      <div class="product-description">
        <h5>{{product.name}}</h5>
        <p>${{product.price}}</p>
        <p>{{product.description}}</p>
        <form action="/cart/{{product.id}}" method="POST">
          <div class="add-min-button">
            <input id="min" type="button" value="-" >
            <input id="num" name="num" value="1" readonly="true">
            <input id="plus" type="button" value="+">
          </div>
          <input type="hidden" id="productId" name="productId" value="{{product.id}}">
          <input type="hidden" id="cartId" value="{{cartId}}">
          <button id="cart" type="submit" class="btn btn-secondary">Add To Cart</button>
        </form>
        {{#if product.FavoritedUsers}}
        <form action="/favorite/{{product.id}}?_method=DELETE" method="POST" class="unfavorite-btn" id="wishlist">
          <button class="btn btn-secondary">
            <input type="hidden" class="product-id" value="{{product.id}}">
            <i class="fas fa-heart fa-lg"></i> Already At Wishlist
          </button>
        </form>
        {{else}}
        <form action="/favorite" method="POST" class="favorite-btn" id="wishlist">
          <button class="btn btn-secondary">
            <input type="hidden" class="product-id" value="{{product.id}}">
            <input type="hidden" class="user-id" value="{{user.id}}">
            <i class="far fa-heart fa-lg"></i> Add To Wishlist  
          </button>
        </form>
        {{/if}}
      </div>
    </section>
  </div>
</div>

<!-- cart modal at right side -->
{{> rightCart}}

<script src="/index.js"></script>