<div class="row">
  <div class="col-8">
    <img src="{{product.image}}" alt="product photo" style="width: 90%">
  </div>
  <div class="col-4">
    <h5>{{product.name}}</h5>
    <p>${{product.price}}</p>
    <p>{{product.description}}</p>
    <form action="/cart/{{product.id}}" method="POST">
      <div class="add-min-button">
        <input id="min" type="button" value="-" >
        <input id="num" name="num" value="1" readonly="true">
        <input id="add" type="button" value="+">
      </div>
      <input type="hidden" name="productId" value="{{product.id}}">
      <button type="submit" class="btn btn-primary">Add To Cart</button>
    </form>
  </div>
</div>